.card {
  box-shadow: 0 2px 8px rgba(0,0,0,.08)!important;
  border-radius: 10px;
  width: 370px;
  position: relative;
}

.card * :not(button) {
  font-size: 14px;
}

.division {
  display: flex;
  align-items: center;
  padding: 10px 0;
}
.division hr {
  width: 40%;
  margin-top: 0;
  margin-bottom: 0;
}


a.volver {
  text-decoration: none;
  font-size: 30px;
  font-weight: 300;
  position: absolute;
  top: 10px;
  left: 20px;

}

input.ng-invalid.ng-touched:not(#verificarPassword) {
  border: 1px solid red;
}

.card {
  position: relative;
}

.texto-error {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, 0);
}

.input-error {
  border: 1px solid red;
}