<div *ngIf="usuario" class="animated fadeInLeft faster">
  <div class="">
    <h1 class="d-none d-md-block mt-5 h2">Bienvenido <span *ngIf="usuario.displayName" class="font-weight-bold badge badge-secondary h1" style="font-size: 30px;">{{usuario.displayName}}</span></h1>
    <h1 class="d-block d-md-none mt-5 h5">
        Bienvenido <span *ngIf="usuario.displayName" class="font-weight-bold badge badge-secondary h4" style="font-size: 20px;">{{usuario.displayName}}</span>
    </h1>
  </div>
  <hr>
  <pre>
    {{usuario | json}}
  </pre>
</div>